<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AddProductToDb</servlet-name>
        <servlet-class>servlets.AddProductToDb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryToDb</servlet-name>
        <servlet-class>servlets.AddCategoryToDb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExtractAllCategories</servlet-name>
        <servlet-class>servlets.ExtractAllCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExtractAllCategoriesInSide</servlet-name>
        <servlet-class>servlets.ExtractAllCategoriesInSide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllproductsForAdmin</servlet-name>
        <servlet-class>servlets.ViewAllproductsForAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Category</servlet-name>
        <servlet-class>servlets.Category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Product</servlet-name>
        <servlet-class>servlets.Product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>servlets.EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductInDb</servlet-name>
        <servlet-class>servlets.EditProductInDb</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductToDb</servlet-name>
        <url-pattern>/AddProductToDb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryToDb</servlet-name>
        <url-pattern>/AddCategoryToDb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExtractAllCategories</servlet-name>
        <url-pattern>/ExtractAllCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExtractAllCategoriesInSide</servlet-name>
        <url-pattern>/ExtractAllCategoriesInSide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllproductsForAdmin</servlet-name>
        <url-pattern>/ViewAllproductsForAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category</servlet-name>
        <url-pattern>/Category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Product</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/EditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductInDb</servlet-name>
        <url-pattern>/EditProductInDb</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
