<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>uploadFilter</filter-name>
        <filter-class>com.oreilly.servlet.MultipartFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>uploadFilter</filter-name>
        <url-pattern>/AddProductToDb</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>AddProductToDb</servlet-name>
        <servlet-class>servlets.AddProductToDb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryToDb</servlet-name>
        <servlet-class>servlets.AddCategoryToDb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExtractAllCategories</servlet-name>
        <servlet-class>servlets.ExtractAllCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExtractAllCategoriesInSide</servlet-name>
        <servlet-class>servlets.ExtractAllCategoriesInSide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllproductsForAdmin</servlet-name>
        <servlet-class>servlets.ViewAllproductsForAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Category</servlet-name>
        <servlet-class>servlets.Category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Product</servlet-name>
        <servlet-class>servlets.Product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>servlets.EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductInDb</servlet-name>
        <servlet-class>servlets.EditProductInDb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserToDb</servlet-name>
        <servlet-class>servlets.AddUserToDb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>servlets.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OneProduct</servlet-name>
        <servlet-class>servlets.OneProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInChecking</servlet-name>
        <servlet-class>servlets.SignInChecking</servlet-class>
        <init-param>
            <param-name>admin</param-name>
            <param-value>ecommerce</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>yarab</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ShowCart</servlet-name>
        <servlet-class>servlets.ShowCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitCart</servlet-name>
        <servlet-class>servlets.SubmitCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileInDb</servlet-name>
        <servlet-class>servlets.EditProfileInDb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>servlets.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOut</servlet-name>
        <servlet-class>servlets.SignOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadHeader</servlet-name>
        <servlet-class>servlets.LoadHeader</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddProductToDb</servlet-name>
        <url-pattern>/AddProductToDb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryToDb</servlet-name>
        <url-pattern>/AddCategoryToDb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExtractAllCategories</servlet-name>
        <url-pattern>/ExtractAllCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExtractAllCategoriesInSide</servlet-name>
        <url-pattern>/ExtractAllCategoriesInSide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllproductsForAdmin</servlet-name>
        <url-pattern>/ViewAllproductsForAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category</servlet-name>
        <url-pattern>/Category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Product</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/EditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductInDb</servlet-name>
        <url-pattern>/EditProductInDb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserToDb</servlet-name>
        <url-pattern>/AddUserToDb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OneProduct</servlet-name>
        <url-pattern>/OneProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInChecking</servlet-name>
        <url-pattern>/SignInChecking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCart</servlet-name>
        <url-pattern>/ShowCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitCart</servlet-name>
        <url-pattern>/SubmitCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileInDb</servlet-name>
        <url-pattern>/EditProfileInDb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOut</servlet-name>
        <url-pattern>/SignOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadHeader</servlet-name>
        <url-pattern>/LoadHeader</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
